.fancy-button {
  --height: 40px;

  height: var(--height);
  width: 200px;
  min-width: fit-content;
  flex: 1 1 auto;
  border: none;
  margin: 10px;
  border-radius: calc(var(--height) / 2);
  background-color: var(--main);
  box-shadow: 1px 1px 2px var(--main-darkest);
  font-size: calc(var(--height)/2);
  line-height: var(--height);
  color: var(--main-darkest);
  cursor: pointer;
}

.fancy-button:disabled {
  background-color: var(--main-disabled);
  cursor: unset;
}

.fancy-button:focus {
  border: 2px var(--main-dark) dashed;
}