.timer {
  --size: 75px;

  position: relative;
  width: var(--size);
  height: var(--size);
  text-align: center;
  background-color: #444444;
  border-radius: calc(var(--size) / 2);
  overflow: hidden;
  z-index: 0;
}

.timer-text {
  color: white;
  line-height: var(--size);
  z-index: 1;
}

.timer-progress {
  height: 100%;
  background-color: green;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  transition: width 1s linear;
}
