body {
  margin: 0px;
  width: 100%;
}

#root {
  display: flex;
  justify-content: center;

  /* Full-app variables */
  --main-h: 152;
  --main-s: 75%;
  --main-l: 50%;
  --main: hsl(var(--main-h), var(--main-s), var(--main-l));
  --contrast: hsl(calc(var(--main-h) + 180), var(--main-s), var(--main-l));
  --main-disabled: hsl(var(--main-h), 0%, var(--main-l));
  --main-dark: hsl(var(--main-h), var(--main-s), calc(var(--main-l) - 20%));
  --main-darkest: hsl(var(--main-h), var(--main-s), 5%);
  --main-light: hsl(var(--main-h), var(--main-s), calc(100% - ((100% - var(--main-l)) * 0.6)));
  --main-lightest: hsl(var(--main-h), var(--main-s), calc(100% - ((100% - var(--main-l)) * 0.15)));
}